.container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-image: url("https://i.pinimg.com/736x/e1/f8/55/e1f8554dd0f4e79613cceb8cd006161d.jpg");
}

.secoes{
    border-bottom: 2px solid white;
    padding: 1%;
    font-family: 'Montserrat', sans-serif;
}

#sobremim-conteudo,#objetivo-conteudo{
    padding: 1%;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*#sobremim-titulo, #objetivo-titulo{
    padding: 1%;
    margin: 1%;
    width: 90%;
    text-align: center;
    box-sizing: border-box;
    font-weight: bolder;
}*/

#sobremim-texto, #objetivo-texto{
    padding: 1%;
    height: 5%;
    width: 90%;
    text-align: center;
    font-size: large;
    font-weight: 500;
    text-align: justify
}

#experiencia{
    display: flex;
    justify-content: center;
}

.card{
    background-color: #dbdbdb;
    padding: 1%;
    border-radius: 5px;
    width: 80%;
    height: 30%;
    text-align: center;
}

.card-img{
    border-bottom: 1px solid black;
}

#imagemsabesp{
    max-width: 100%;
}

.card-text{
    border-bottom: 1px solid black;
    padding: 1%;
}

.text-title{
    padding: 1%;
    font-weight: 900;
}

.text-content{
    font-weight: 500;
}

.card-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao-sabesp{
    background-color: #1282A2;
    border-radius: 5px;
    width: 30%;
    height: 10%;
    padding: 1%;
    margin: 1%;
    border: 2px solid #0A1128;
    transition: 0.5s;
    cursor: pointer;
}

#botao-sabesp:hover{
    scale: 1.07;
}

#botao-sabesp a{
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 1.2rem;
}

#formacao{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-formacao{
    background-color: #FEFCFB;
    padding: 1%;
    border-radius: 5px;
    width: 15rem;
    height: 22rem;
    margin: 2%;
    text-align: center;
    box-sizing: border-box;
}

.card-img-formacao{
    border-bottom: 1px solid black;
    margin: 1%;
    padding: 1%;
}

#imagemLF{
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 100%;
}

#imagemifsp{
    max-width: 100%;
    margin-top: 15%;
    margin-bottom: 7%;
}

#imagemsenai{
    max-width: 100%;
}

.card-text-formacao{
    border-bottom: 1px solid black;
    padding: 1%;
}

.text-title-formacao{
    padding: 1%;
    font-weight: 900;
}

.text-content-formacao{
    font-weight: 500;
}

.card-button-formacao{
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao-formacao{
    background-color: #1282A2;
    border-radius: 5px;
    width: 80%;
    height: 8%;
    padding: 1%;
    margin: 1.5%;
    border: 2px solid #0A1128;
    transition: 0.5s;
    cursor: pointer;
}

#botao-formacao:hover{
    scale: 1.07;
}

#botao-formacao a{
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 1.2rem;
}





























#trabalhos{
    border: none;
}

#voltar-topo{
    position: fixed;
    right: 1%;
    bottom: 50%;
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    transition: 0.5s;
}

#voltar-topo:hover{
    scale: 1.3;
}